body{
    background-color: skyblue;
}
.Mform{
    background-color: white;
    text-align: left;
    padding: 0px 20px;
    width: 450px;
    height: auto;
    border-radius: 20px;
}
.MI{
    border-radius: 5px;
    width: 450px;
    height: 25px;
}
.MB{
    background-color: blue;
    color: white;
}