body{
    background-color: skyblue;
}
#F1{
    background-color: white;
    text-align: left;
    padding: 0px 20px;
    width: 450px;
    height: auto;
    border-radius: 20px;
}
.MI{
    border-radius: 5px;
    width: 400px;
}